@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">Playing Cards</h1>
    <p>
        A playing card is a typically hand-sized piece of heavy paper or thin plastic. A complete set of cards is a pack or deck. A deck of cards is used for playing one of many card games, some of which include gambling. Because they are both standard and commonly available, playing cards are often adapted for other uses, such as magic tricks, cartomancy, or building a house of cards.

        The front (or "face") of each card carries markings that distinguish it from the other cards and determine its use under the rules of the game being played. The back of each card is identical for all cards, usually a plain colour or abstract design. In most games, the cards are assembled into a deck, and their order is randomized by shuffling.
    </p>
    <img src="~/NewFolder/playcard.jpg" height="200" width="270" />
    <img src="~/NewFolder/playcardsimg.jpg" height="200" width="270" />
    <img src="~/NewFolder/ply.jpg" height="200" width="270" />
    <img src="~/NewFolder/imgply.jpg" height="200" width="270" />
    <h1 class="display-4">Type of Cards</h1>
    <ul>
        <li>Clubs (♣)</li>
        <li>Diamonds (♦)</li>
        <li>Hearts (♥)</li>
        <li>Spades (♠)</li>
    </ul>
   

</div>
