@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>
    The origin of playing cards is obscure, but it is almost certain that they began in China after the invention of paper. Ancient Chinese "money cards" have four "suits": coins (or cash), strings of coins (which may have been misinterpreted as sticks from crude drawings), myriads of strings, and tens of myriads. These were represented by ideograms, with numerals of 2–9 in the first three suits and numerals 1–9 in the "tens of myriads". Wilkinson suggests in The Chinese origin of playing cards that the first cards may have been actual paper currency which were both the tools of gaming and the stakes being played for. The designs on modern Mahjong tiles likely evolved from those earliest playing cards. However it may be that the first deck of cards ever printed was a Chinese domino deck, in whose cards we can see all the 21 combinations of a pair of dice. In Kuei-t'ien-lu, a chinese text redacted in the 11th century, we found that dominoes cards were printed during the T’ang dynasty, contemporarily to the first books. The Chinese word pái (牌) is used to describe both paper cards and gaming tiles.

    An Indian origin for playing cards has been suggested by the resemblance of symbols on some early European decks (traditional Sicilian cards, for example) to the ring, sword, cup, and baton classically depicted in the four hands of Indian statues. This is an area that still needs research.

    The time and manner of the introduction of cards into Europe are matters of dispute. The 38th canon of the council of Worcester (1240) is often quoted as evidence of cards having been known in England in the middle of the 13th century; but the games de rege et regina there mentioned are now thought to more likely have been chess. If cards were generally known in Europe as early as 1278, it is very remarkable that Petrarch, in his work De remediis utriusque fortunae that treats gaming, never once mentions them. Boccaccio, Chaucer and other writers of that time specifically refer to various games, but there is not a single passage in their works that can be fairly construed to refer to cards. Passages have been quoted from various works, of or relative to this period, but modern research leads to the supposition that the word rendered cards has often been mistranslated or interpolated.

  </p>